In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt  
from datetime import datetime

plt.rcParams['axes.grid'] = False 
plt.rcParams["figure.figsize"]=(14,4)

%matplotlib inline

In [2]:
import FinanceDataReader as fdr
import yfinance as yf

In [3]:
df = fdr.StockListing('NASDAQ')

with open('NASDAQ100_Index.txt','r') as f:
    symbol = f.read().split('\n')

100%|█████████████████████████████████████████████████████████████████████████████| 3939/3939 [00:06<00:00, 611.65it/s]
C:\Users\user\Anaconda3\lib\site-packages\FinanceDataReader\naver\listing.py:85: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  merged = pd.concat(df_list)

In [4]:
def find_stock_data(symbol):
    return yf.download(symbol,'2015-01-01', '2021-06-30').reset_index().sort_values(by='Date')

In [5]:
def plot_stock(df,stock_name):
    plt.rcParams["figure.figsize"]=(20,10)
    plt.title(stock_name+' closing price')
    plt.plot(df['Date'], df['Close'])
    plt.show()

In [6]:
df = find_stock_data('AAPL')

[*********************100%***********************]  1 of 1 completed

In [7]:
df = find_stock_data('AAPL')
# plot_stock(df,nasdaq100_namelist['AAPL'])
before = df.loc[:len(df)-2]
after = df.loc[1:][['Date','Close','Open','High','Low']]
after['sub'] = np.array(after['Close']) - np.array(before['Close'])
after['Close'] = np.array(after['Close']) / np.array(before['Close']) - 1
after['Open'] = np.array(after['Open']) / np.array(before['Close']) - 1
after['High'] = np.array(after['High'])/ np.array(before['Close']) - 1
after['Low'] = np.array(after['Low'])/ np.array(before['Close']) - 1
after['Volume'] = df.loc[1:][['Volume']]
after

[*********************100%***********************]  1 of 1 completed

           Date     Close      Open      High       Low       sub     Volume
1    2015-01-02 -0.009513  0.009150  0.009603 -0.027451 -0.262499  212818400
2    2015-01-05 -0.028172 -0.009512 -0.006220 -0.035855 -0.770000  257142000
3    2015-01-06  0.000094  0.002729  0.011106 -0.015247  0.002501  263188400
4    2015-01-07  0.014022  0.008846  0.018257  0.004141  0.372499  160423600
5    2015-01-08  0.038422  0.013736  0.040835  0.008817  1.035000  237458000
...         ...       ...       ...       ...       ...       ...        ...
1630 2021-06-23 -0.002090 -0.001567  0.002538 -0.005598 -0.279999   60214200
1631 2021-06-24 -0.002169  0.005610  0.007031 -0.005759 -0.289993   68711000
1632 2021-06-25 -0.002249  0.000375  0.003598 -0.004497 -0.300003   70783700
1633 2021-06-28  0.012546  0.002254  0.016077  0.001803  1.669998   62111300
1634 2021-06-29  0.011500  0.000148  0.012687 -0.003190  1.550003   64556100

[1634 rows x 7 columns]

In [8]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-12-31,28.205000,28.282499,27.552500,27.594999,25.057606,165613600
1,2015-01-02,27.847500,27.860001,26.837500,27.332500,24.819241,212818400
2,2015-01-05,27.072500,27.162500,26.352501,26.562500,24.120045,257142000
3,2015-01-06,26.635000,26.857500,26.157499,26.565001,24.122320,263188400
4,2015-01-07,26.799999,27.049999,26.674999,26.937500,24.460564,160423600
...,...,...,...,...,...,...,...
1630,2021-06-23,133.770004,134.320007,133.229996,133.699997,133.699997,60214200
1631,2021-06-24,134.449997,134.639999,132.929993,133.410004,133.410004,68711000
1632,2021-06-25,133.460007,133.889999,132.809998,133.110001,133.110001,70783700
1633,2021-06-28,133.410004,135.250000,133.350006,134.779999,134.779999,62111300
1634,2021-06-29,134.800003,136.490005,134.350006,136.330002,136.330002,64556100

In [9]:
def normalize_prices(df):
    df['Date'] = [str(d)[:10] for d in df['Date']]
    before = df.loc[:len(df)-2]
    after = df.loc[1:][['Date','Close','Open','High','Low']]
    after['sub'] = np.array(after['Close']) - np.array(before['Close'])
    after['Close'] = np.array(after['Close']) / np.array(before['Close']) - 1
    after['Open'] = np.array(after['Open']) / np.array(before['Close']) - 1
    after['High'] = np.array(after['High'])/ np.array(before['Close']) - 1
    after['Low'] = np.array(after['Low'])/ np.array(before['Close']) - 1
    after['Volume'] = df.loc[1:][['Volume']]
    return after

In [12]:
import numpy as np
import os

# os.mkdir('./data/')
date_list = find_stock_data('AAPL')['Date'].to_list()
date_list = [str(d)[:10] for d in date_list]

symbol = ['AAPL', 'ADBE', 'ADI', 'ADP', 'ADSK', 'AEP', 'ALGN', 'ALXN', 'AMAT', 'AMD', 'AMGN', 'AMZN', 'ANSS', 'ASML', 'ATVI', 'AVGO', 'BIDU', 'BIIB', 'BKNG', 'CDNS', 'CDW', 'CERN', 'CHKP', 'CHTR', 'CMCSA', 'COST', 'CPRT', 'CSCO', 'CSX', 'CTAS', 'CTSH', 'DLTR', 'DXCM', 'EA', 'EBAY', 'EXC', 'FAST', 'FB', 'FISV', 'GILD', 'GOOG', 'GOOGL', 'IDXX', 'ILMN', 'INCY', 'INTC', 'INTU', 'ISRG', 'JD', 'KDP', 'KLAC', 'LRCX', 'LULU', 'MAR', 'MCHP', 'MDLZ', 'MELI', 'MNST', 'MRVL', 'MSFT', 'MTCH', 'MU', 'MXIM', 'NFLX', 'NTES', 'NVDA', 'NXPI', 'ORLY', 'PAYX', 'PCAR', 'PEP', 'QCOM', 'REGN', 'ROST', 'SBUX', 'SGEN', 'SIRI', 'SNPS', 'SPLK', 'SWKS', 'TCOM', 'TMUS', 'TSLA', 'TXN', 'VRSK', 'VRSN', 'VRTX', 'WBA', 'WDAY', 'XEL', 'XLNX','CL=F', 'BTC-USD', 'EURUSD=X', 'PL=F', 'GC=F', 'SI=F', 'HG=F', '^VXN', '^TNX', 'NQ=F']

for s in symbol:
    with open(f'./data/{s}.txt','w') as f:
        df = find_stock_data(s)
        if str(df['Date'][0])[:10] != date_list[0] and str(df['Date'][0])[:10] != '2015-01-01':
            print(s)
            continue
        after = normalize_prices(df)
        for i,row in after[::-1].iterrows():
            if df.loc[i]['Date'] not in date_list:
                continue
            f.write('{}\t{:.6f}\t{:.6f}\t{:.6f}\t{:.6f}\t{:.6f}\t{:.6f}\n'.format(*row.to_list()))

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [ ]:
df = find_stock_data('KHC')

In [ ]:
df